dist
build/
DerivedData/
node_modules
*.log
.DS_Store
xcuserdata/
*.xcuserstate
.idea/
*.iml
src/generated/
.env
.env.*
!.env.sample
*.cer
*.certSigningRequest
*.p12
*.pem
*.key
*.mobileprovision
*.provisionprofile
*.xcarchive
*.dmg
*.ipa
*.pkg
